authlib
h2
httptools
langchain-chroma
langchain-groq
langchain-huggingface
langchain-ollama
langchain-text-splitters
pip-chill
python-dotenv
sentence-transformers
streamlit
supabase
typer-slim
uvloop
watchfiles
streamlit-chat
streamlit_option_menu