authlib
h2
httptools
langchain-chroma
langchain-groq
langchain-huggingface
langchain-ollama
langchain-text-splitters
pip-chill
python-dotenv
sentence-transformers
streamlit
supabase
typer-slim
watchfiles
streamlit-chat
streamlit-option-menu
extra_streamlit_components